.size {
  display: inline-block;
  margin-top: -20px;
  margin-right: 200px;
  font-size: 40px;
}

.btn {
  display: block;
  margin-top: 20px;
  height: 40px;
  width: 60px;
}

.order {
  display: block;
  margin-top: 20px;
  float: right;

  font-size: 30px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
